@model BooksStorage.Models.BookHits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayNameFor(model => model.book.Title)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.book.Title)
        </dt>

    </dl>
</div>
<div id="MyChart">

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.book.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor() {
            var dataJson = '@Html.Raw(Model.book.GoogleChartData)'
            var data = new google.visualization.DataTable(dataJson);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                backgroundColor: '#f1f8e9'
            };

            var chartBlock = document.getElementById('MyChart');
            var chart = new google.visualization.LineChart(chartBlock);
            chart.draw(data, options);

        }
    </script>
}
