@model IEnumerable<BooksStorage.Models.BookListItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.ISBN)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Author.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.LastName)
            </th>  
                     
            
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.ISBN)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                <a href="javascript:void(0);" class="chart-button" data-id="@item.Id">Chart</a>
            </td>
        </tr>
    }
    
    </table>

<div id="MyChart"></div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor(id) {
            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                backgroundColor: '#f1f8e9'
            };
            var chartBlock = document.getElementById('MyChart');
            var chart = new google.visualization.LineChart(chartBlock);
            if (typeof (id) === "undefined") {
                var data = new google.visualization.DataTable([]);
                chart.draw(data, options);
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: '/api/charts/hits/' + id,
                    content: 'application/json',
                    beforeSend: function () {
                        $.blockUI({ message: 'please wait' });
                    },
                    success: function (data, status, jqXHR) {
                        var googleData = new google.visualization.DataTable(data);
                        chart.draw(googleData, options);
                    },
                    error: function (jqXHR, status, errorThrown) {
                        alert(jqXHR.responseJSON.Message);
                    },
                    complete: function () {
                        $.unblockUI();
                    }

                })
            }
        }

        $(document).ready(function () {
            $('.chart-button').click(function () {
                var id = $(this).data('id');
                drawBackgroundColor(id);
            })
        })
    </script>
}
